@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>

            <li><a href="@Url.Action("Index", "Manage", routeValues: null)"><span>@User.Identity.GetUserName()</span></a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><span>Log off</span></a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("SmartRegister", "Account")"><span class="glyphicon glyphicon-user"></span>Register</a></li>
        <li><a href="@Url.Action("SmartLogin", "Account")"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
    </ul>

}

